.results {
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1; /*行數*/
	-webkit-box-orient: vertical;
	white-space: normal;
}

div.featured__item__pic>a {
	width: 100%;
	height: 100%;
}

img.product__details__pic__item--large {
	width: 100%;
	height: 100%;
}