@charset "UTF-8";

.featured__item__pic__hover li:hover i{
	color: #E86F62;
	transition: all 0.3s ease-in;
	cursor: pointer;
/* 	border-color: #E86F62; */
}

.featured__item__pic__hover li i.active{
	color: #E86F62;
}

.featured__item__pic__hover{
	text-align: right;
}

.featured__item__pic__hover.active {
	bottom: 20px;
}

/* .featured__item__pic__hover li a.active{ */
/* 	background: #ffffff; */
/* 	border-color: #ffffff; */
/* } */