/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
	font-family: "Cairo", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	background-color: #FEFEFE;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Cairo", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Cairo", sans-serif;
	color: #6f6f6f;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}


input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a{
	text-decoration: none !important;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Header
-----------------------*/

header.header{
	background-color: #F3F1F2;
	position: sticky;
	top: 0;
	z-index: 5;
}

div.row{
	width: 100%;
	align-items: center;
}

div.header__logo{
	padding-bottom: 0;
}

.header__logo a {
	display: inline-block;
}

.header__logo a img{
	width: 100%;
	padding: 20px;
}

div.nav{
	display: flex;
	justify-content: center;
}

ul.nav{
	display: flex;
	justify-content: space-between;
	
}

.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 50px;
	position: relative;
}

.header__menu ul li .header__menu__dropdown {
	position: absolute;
	left: 0;
	top: 50px;
	background: #F3F1F2;
	width: 180px;
	z-index: 9;
	padding: 5px 0;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	opacity: 0;
	visibility: hidden;
	/* 陰影 */
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	
}

.header__menu ul li .header__menu__dropdown form {
	margin-right: 0;
	display: block;
}

.header__menu ul li .header__menu__dropdown li:hover>a {
	color: #92AFBF;
}

.header__menu ul li .header__menu__dropdown li{
	color: #4F4E4D;
	font-weight: 400;
	padding: 5px 15px;
}

.header__menu ul li .header__menu__dropdown form li {
	transition: all 0.3s;
}

/* .header__menu ul li.active a { */
/* 	color: #92AFBF; */
/* } */

.header__menu ul li:hover .header__menu__dropdown {
	top: 30px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:hover>a {
	color: #92AFBF;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li a {
	font-size: 1rem;
	color: #262220;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	padding: 5px 0;
	display: block;
}

nav.header__menu{
	padding-top: 0;
	padding-bottom: 5px;
}

.header__cart {
	text-align: right;
	padding: 24px 0;
}

.header__cart ul {
	display: inline-block;
	margin-right: 25px;
}

.header__cart ul li {
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}

.header__cart ul li:last-child {
	margin-right: 0;
}

.header__cart ul li a {
	position: relative;
}

.header__cart ul li a i {
	font-size: 18px;
	color: #4F4E4D;
}

.header__cart ul li a i:hover {
	font-size: 18px;
	color: #E86F62;
	transition: all, 0.5s;
}

.header__cart ul li a span {
	height: 16px;
	width: 16px;
	background: #E86F62;
	font-size: 10px;
	color: #ffffff;
	line-height: 13px;
	text-align: center;
	font-weight: 700;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: -12px;
}

.header__cart ul li a span.down {
	background: none;
	color: #F3F1F2;
}
/* 註冊登入、成為賣家按鈕 */

.header__cart ul li button{
	background-color: #4F4E4D;
	color: #ffffff;
	border: none;
	border-radius: 5px;
}

.header__cart ul li button:hover{
	background-color: #E86F62;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	transition: all, 0.5s;
}

.header__cart ul li button a{
	font-size: 10px;
	color: #ffffff;
}


/* 搜尋列 */
.hero__search__form {
	width: 600px;
	height: 50px;
	border: 1px solid #ebebeb;
	position: relative;
	float: left;
}

.hero__search__form form input {
	width: 80%;
	border: none;
	height: 50px;
	font-size: 16px;
	color: #b2b2b2;
	padding-left: 20px;
	padding-right: 0;
}

.hero__search__form form input::placeholder {
	color: #b2b2b2;
}

.hero__search__form form button {
	position: absolute;
	right: 63px;
	width: 100px;
	height: 50px;
	border: none;
	background-color: #92AFBF;
	color: white;
	text-align: center;
	padding: 0 !important;
	z-index: 10;
}

/* 會員 */

div.header__cart ul li{
	position: relative;
}

img#memPhoto{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}

.none{
	display: none;
}

button#logout{
	border: none;
	background-color: #F3F1F2;
	width: 100%;
	text-transform: capitalize;
	color: #4F4E4D;
	font-weight: 400;
}

button#logout:hover{
	color: #92AFBF;
}

button:disabled{
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
}

.header__cart ul li .member__menu__dropdown {
	position: absolute;
	top: 30px;
	left: -50px;
	background: #F3F1F2;
	width: 180px;
	z-index: 9;
	padding: 5px 0;
	margin-top: 20px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	opacity: 0;
	visibility: hidden;
	/* 陰影 */
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	
}

.header__cart ul li .member__menu__dropdown li {
	text-align: center;
	margin-right: 0;
	display: block;
}

.header__cart ul li .member__menu__dropdown li:hover>a {
	color: #92AFBF;
}

.header__cart ul li .member__menu__dropdown li a {
	text-transform: capitalize;
	color: #4F4E4D;
	font-weight: 400;
	padding: 5px 15px;
}

.header__cart ul li:hover .member__menu__dropdown {
	top: 30px;
	opacity: 1;
	visibility: visible;
}

.header__cart ul li a {
	font-size: 1rem;
	color: #262220;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	padding: 5px 0;
	display: block;
}








